  <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="index.html"><b><img src="assets/plugins/images/eliteadmin-logo.png" alt="home" class="dark-logo" /><img src="assets/plugins/images/eliteadmin-logo-dark.png" alt="home" class="light-logo" /></b><span class="hidden-xs"><img src="assets/plugins/images/eliteadmin-text.png" alt="home" class="dark-logo" /><img src="assets/plugins/images/eliteadmin-text-dark.png" alt="home" class="light-logo" /></span></a></div>
               
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown"> <a  class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" routerLink="/login"><i class="fa fa-power-off"></i>
         <!--  <div class="notify"><span class="heartbit"></span><span class="point"></span></div> -->
          </a>
                        
                        
                    </li>
                    
                    
                   
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>