<section id="wrapper" class="login-register1">

  <div class="login-box">
    <div [ngBusy]="busy"></div>
    <div class="white-box">
      <form class="form-horizontal form-material" id="loginform" #loginForm="ngForm" (ngSubmit)="signup()">
        <h3 class="box-title m-b-20">Sign Up</h3>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Name" name="name" id="name" [(ngModel)]="user.name" #name="ngModel" required >
            <div *ngIf="name.errors && name.touched" class="text-danger">
                    <p *ngIf="name.errors?.required">Name is mandatory.</p>
                    
                  </div>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="email" required="" placeholder="Email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" required >
            <div *ngIf="email.errors && email.touched" class="text-danger">
                    <p *ngIf="email.errors?.required">Email is mandatory.</p>
                    <p *ngIf="email.errors?.email">Email is invaild.</p>
                   
                  </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Password"  name="password" id="password" [(ngModel)]="user.password" #password="ngModel" required>

             <div *ngIf="password.errors && password.touched">
                      <p class="text-danger" *ngIf="password.errors?.required">Password is mandatory.</p>
                    </div>
          </div>
        </div>
       <!--  <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> Remember me </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
        </div> -->
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="!loginForm.valid">Sign Up</button>
          </div>
        </div>
        <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a routerLink="/login" class="text-primary m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
        <!-- <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social"><a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip"  title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a> <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip"  title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a> </div>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Don't have an account? <a href="register.html" class="text-primary m-l-5"><b>Sign Up</b></a></p>
          </div>
        </div> -->
      </form>
      
    </div>
  </div>
</section>